/* workspace */
.inputarea,
.preview {
    height: 400px;
    overflow: scroll;

    textarea {
        height: 100%;
        padding: 0;
    }
}

.preview {
    padding: 0;
    gap: 0;

    .preview-header,
    .preview-body {
        padding: 10px 20px;
        width: 100%;
    }
}

.preview-body {
    color: black;
    gap: 0;
    overflow: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: block;
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        width: 100%;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.section {
    max-width: 100%;
}

.examplearea,
.codearea {
    gap: 0;
    border-radius: 10px;

    .exampleHeader,
    .codeHeader {
        padding: 10px;
    }

    .exampleBody,
    .codeBody {
        padding: 10px 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        color: black;
    }
}

.codeBody {
    overflow: scroll;
}

.articleLink {
    text-decoration: underline;
    color: blue;
}

.leftbar, .rightbar {
    width: 200px;
    color: black;
}