:root {

  /* padding */
  --main-padding: 1.25rem;
  /* Flexible padding, relative to root font size */
  --button-main-padding: 0.4em 1em;
  /* Slightly larger for the main button */
  --button-secondary-padding: 0.2em .7em;
  /* Balanced padding for secondary button */

  /* font */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color */
  --main-color: #f5f9ff;
    /* Light gray background */
    --white-color: #ffffff;
    --link-color: #4a90e2;
    /* Soft blue for links */
    --accent-color: #ffc8b4;
    /* Coral accent for buttons */
    --primary-color: #333333;
    /* Dark gray text */
    --secondary-color: #767676;
    /* Lighter gray text */
    --highlight-color: #ffe600;
    /* Yellow for highlights */

  /* text */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* shadow */
  --out-line: 0 0 1px .7px #0000008a inset;
  --light-shadow: 0 1px 10px 2px #00000040;
  --heavy-shadow: 0 1px 8px 3px #00000078;

  /* transition */
  transition: .3s linear all;

  /* spacing */
  letter-spacing: 1px;
}

body {
  height: 100vh;
  background-color: var(--main-color);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
  margin-top: 10px;
  margin-bottom: 20px;
}

h1 {
  font-size: 3.2em;
}

input,
textarea {
  padding: calc(var(--main-padding) / 2) calc(var(--main-padding) / 1.5);
  border-radius: 7px;
  outline: none;
  border: none;
  /* flex: 1; */
  font-size: 20px;
  max-width: 100%;
  width: 100%;
  background-color: var(--white-color);
    resize: vertical;
    color: black;
}

input[name="checbox"] {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
}

header {
  padding: calc(var(--main-padding) / 2) var(--main-padding);
}

img {
  max-width: 100%;
  height: unset;
}

::-webkit-scrollbar {
  display: none;
}

code {
  font-family: Consolas, "courier new";
  padding: 2px;
  font-size: 105%;
  overflow: scroll;
  width: 100%;
}

select {
  &:focus {
    outline: none;
  }
}

svg {
  --icon-wheight: 24px;
  width: var(--icon-wheight);
  height: var(--icon-wheight);
}